.venv/

*.pyc
__pycache__/

instance/
openslide_dlls/
temp/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

extractor_app/metadata.csv
extractor_app/rawmetadata.csv
extractor_app/convert.ipynb