<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InveNIO Metadata Viewer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
    <div class="ui block header">
        <h3 style="padding-bottom: 12px; padding-top: 12px">InveNIO Metadata Viewer</h3>
        
    </div>

    <div class = "ui styled fluid accordion">
    {% set ns = namespace(next_folder_id = 1, c = 1) %}
    {% for i in range(1, max_folder_id[0][0]+1) %}
    {% if ns.next_folder_id == session_list[ns.c]["FolderID"] %}
    
        <div class="title"><i class="dropdown icon"></i>{{session_list[ns.c]["StudyDate"]}} | {{session_list[ns.c]["PatientName"][16:-2]}} | {{session_list[ns.c]["PatientID"]}} | {{session_list[ns.c]["PatientBirthDate"]}}</div>
        {% set ns.next_folder_id = ns.next_folder_id + 1 %}
    {% endif %}

    <div class="content">
    <div class="ui selection list">
        {% for session in session_list if session["FolderID"] == i %}
        <div class="item">{{session["StudyDate"]}} | {{session["PatientName"][16:-2]}} | {{session["PatientID"]}} | {{session["PatientBirthDate"]}} | {{session["PatientBirthDate"]}}
            <a href={{ns.c}}><div class="ui blue button">Full Metadata</div></a></div>
        {% set ns.c = ns.c + 1 %}
        {% endfor %}
    </div>
    </div>
    {% endfor %}
    </div>  

<script>
    $('.ui.accordion').accordion();
</script>
</body>
</html>