<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InveNIO Metadata Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .col{
            height: calc(100vh - 71px);
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">InveNIO Viewer</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/update" target="_blank">Update Database</a>
                </li>
            </ul>
            <div class="nav-item">
            <form class="input-group mb-3" role="search" method="post">
                <!-- <label for="key">Key:</label> -->
                <select class="form-select form-select" id="key" name="key">
                    <option value="SpecimenSession:PatientName">PatientName</option>
                    <option value="SpecimenSession:PatientID">PatientID</option>
                    <option value="SpecimenSession:AccessionNumber">AccessionNumber</option>
                    <option value="SpecimenSession:StudyDate">StudyDate</option>
                    {% for colname in custom_data%}
                    <option value="CustomData:{{colname}}">{{colname}}</option>
                    {% endfor %}
                </select>
                <!-- <label for="value" style="padding-left:10px">Value:</label> -->
                <input class="form-control"  type="text" id="value" name="value" required>
                <button class="btn btn-light" type="submit">Search</button>
                <button onclick="window.location='/'" type="button" class="btn btn-outline-secondary">Clear</button>
            </form>
            </div>
        </div>   
    </nav>

    <div style="background-color: #ffffff" class="container-flex">
        <div class="row g-0 ">
            <div class="col border-end border-dark" style="overflow:auto;">
                <table class="table table-bordered table-hover">
                <thead class="sticky-top">
                    <tr class="table-secondary">
                        <th scope="col"><div>StudyDate</div></th>
                        <th scope="col"><div>PatientName</div></th>
                        <th scope="col"><div>PatientID</div></th>
                        <th scope="col"><div>AccessionNumber</div></th>
                    </tr>
                </thead>
                <tbody>
                {% for header_item in unique_headers %}
                    <tr id="folder{{header_item['FolderID']}}" tabindex="{{header_item['FolderID']}}" onclick="toggle_show('folder{{header_item['FolderID']}}'); change_iframe_src(''); toggle_active('folder{{header_item['FolderID']}}')" style="cursor:pointer">
                        <td>{{header_item["StudyDate"]}}</td>
                        <td>{{header_item["PatientName"][15:-1]}}</td>
                        <td>{{header_item["PatientID"]}}</td>
                        <td>{{header_item["AccessionNumber"]}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>

            <div class="col border-end border-dark" style="overflow:auto;">
                <table class="table table-bordered table-hover">
                <thead class="sticky-top">
                    <tr class="table-secondary">
                        <th scope="col"><div>PatientName</div></th>
                        <th scope="col"><div>ImageID</div></th>
                        <th scope="col"><div>Color</div></th>
                        <th scope="col"><div>ContainerIdentifier</div></th>
                        <th scope="col"><div>SpecimenShortDescription</div></th>
                    </tr>
                </thead>   
                <tbody>
                {% for session in session_list %}
                    <tr tabindex="{{session['SpecimenSessionID']}}" id="entry{{session['SpecimenSessionID']}}" onclick="change_iframe_src('/metadata/{{session['SpecimenSessionID']}}');toggle_active('entry{{session['SpecimenSessionID']}}')" style="display:none; cursor:pointer" class="entry folder{{session['FolderID']}}">
                        <td>{{session["PatientName"][15:-1]}}</td>
                        <td>{{session["ImageID"]}}</td>
                        <td>{% if session["PhotometricInterpretation"] == "RGB" %}RGB{%else%}B/W{%endif%}</td>
                        <td>{{session["ContainerIdentifier"]}}</td>
                        <td>{{specimen_description_list[loop.index-1]["SpecimenShortDescription"]}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="col" style="overflow:hidden">
                <div style="background-color: #ffffff;height: 100%" class="container-flex">
                    <iframe id="iframe" style="width:100%;height: 100%; border: none; overflow-x:hidden" src=""></iframe>
                </div>
            </div>
        </div>     
    </div>
<script>
    function toggle_show(folder_id){
        var entries = document.getElementsByClassName(folder_id);
        var all_items = document.getElementsByClassName("entry");

        for(var i = 0; i<all_items.length; i++) {
            all_items[i].style.display = "none";
        }

        for(var i = 0; i<entries.length; i++){
            if (entries[i].style.display != "none") {
                entries[i].style.display = "none";
                
            }
            else {
                
                    entries[i].style.display = "table-row";
                
            }
        }
    }

    function toggle_active(itemid){
        var all_items = document.getElementsByClassName("table-active");
        var current_item = document.getElementById(itemid);
        for (var i = 0; i<all_items.length; i++) {
            if(current_item.id[0] != all_items[i].id[0]){
                continue;
            }
            all_items[i].classList.toggle('table-active');
        }
        current_item.classList.toggle('table-active');
    }

    function change_iframe_src(link_id){
        document.getElementById("iframe").src=link_id;
    }
</script>
</body>
</html>