<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for("static", filename="semantic.min.css")}}>
    <style>
        div{
            margin-left: 8px;
        }
    </style>
    </head>
    <body>
        <div class="ui toggle checkbox" onclick="toggle_hidden()">
            <input type="checkbox" id="checkbox_advanced" name="advanced">
            <label>Advanced</label>
        </div>
        <form method="post">
            <div class="ui toggle checkbox" style="margin-top: 8px">
                <input type="checkbox" id="checkbox_full_folder" name="full_folder">
                <label>Edit Full Folder</label>
            </div>
            {% for key in item_SpecimenSession[0].keys() %}
            {% if key not in ['PatientName', 'StudyDescription', 'PatientID'] %}
            <div class="advanced" style="display:none">
            {% else %}
            <div>
            {% endif %}
                <label for="{{key}}"><b>{{key}}:</b></label><br>
            <div class="ui action input" style="width:100%">
                <input type="text" name="SpecimenSession:{{key}}" id="SpecimenSession:{{key}}" value="{{item_SpecimenSession[0][key]}}">
                <button type="submit" name="submit_button" id="SpecimenSession:{{key}}" value="SpecimenSession:{{key}}" class="ui button">Update</button>
            </div></div>
            {% endfor %}
            <h4 class="ui dividing header"><b>SpecimenDescriptionSequence: </b><br></h4>
            {% for key in item_SpecimenDescriptionSequence[0].keys() %}
            {% if key not in ['SpecimenShortDescription'] %}
            <div class="advanced" style="display:none">
            {% else %}
            <div>
            {% endif %}
                <label for="{{key}}"><b>{{key}}:</b></label><br>
            <div class="ui action input" style="width:100%">
                <input type="text" name="SpecimenDescriptionSequence:{{key}}" id="SpecimenDescriptionSequence:{{key}}" value="{{item_SpecimenDescriptionSequence[0][key]}}">
                <button type="submit" name="submit_button" id="SpecimenDescriptionSequence:{{key}}" value="SpecimenDescriptionSequence:{{key}}" class="ui button">Update</button>
            </div></div>
            {% endfor %}
        
            <h4 class="ui dividing header"><b>PrimaryAnatomicStructureSequence: </b><br></h4>
            {% for key in item_PrimaryAnatomicStructureSequence[0].keys() %}
            {% if key not in ['CodeMeaning'] %}
            <div class="advanced" style="display:none">
            {% else %}
            <div>
            {% endif %}
                <label for="{{key}}"><b>{{key}}:</b></label><br>
            <div class="ui action input" style="width:100%">
                <input type="text" name="PrimaryAnatomicStructureSequence:{{key}}" id="PrimaryAnatomicStructureSequence:{{key}}" value="{{item_PrimaryAnatomicStructureSequence[0][key]}}">
                <button type="submit" name="submit_button" id="PrimaryAnatomicStructureSequence:{{key}}" value="PrimaryAnatomicStructureSequence:{{key}}" class="ui button">Update</button>
            </div></div>
            {% endfor %}

            <h4 class="ui dividing header"><b>CustomData: </b><br></h4>
            {% for key in item_CustomData[0].keys() %}
            {% if key == 'CustomDataID' %}
            <div class="advanced" style="display:none">
                <label for="{{key}}"><b>{{key}}:</b></label><br>
            <div class="ui action input" style="width:100%">
                <input type="text" name="CustomData:{{key}}" id="CustomData:{{key}}" value="{{item_SpecimenSession[0]['SpecimenSessionID']}}">
                <button type="submit" name="submit_button" id="CustomData:{{key}}" value="CustomData:{{key}}" class="ui button">Update</button>
            {% elif key == 'FolderID' %}
            <div class="advanced" style="display:none">
                <label for="{{key}}"><b>{{key}}:</b></label><br>
            <div class="ui action input" style="width:100%">
                <input type="text" name="CustomData:{{key}}" id="CustomData:{{key}}" value="{{item_SpecimenSession[0]['FolderID']}}">
                <button type="submit" name="submit_button" id="CustomData:{{key}}" value="CustomData:{{key}}" class="ui button">Update</button>
            {% else %}
            <div>
                <label for="{{key}}"><b>{{key}}:</b></label><br>
            <div class="ui action input" style="width:100%">
                <input type="text" name="CustomData:{{key}}" id="CustomData:{{key}}" value="{{item_CustomData[0][key]}}">
                <button type="submit" name="submit_button" id="CustomData:{{key}}" value="CustomData:{{key}}" class="ui button">Update</button>
            {% endif %}
            </div></div>
            {% endfor %}
            
        </form>

    </body>
    <script>
        function toggle_hidden(){
            var advanced_elems = document.getElementsByClassName("advanced");
            for(i=0; i<advanced_elems.length; i++){
                if (advanced_elems[i].style.display != "none"){
                    advanced_elems[i].style.display = "none";
                }
                else{
                    advanced_elems[i].style.display = "block";
                }
            }
        }
    </script>
</html>