<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <style>
        ul {
            list-style-type: none;
            margin-left: 12px;
        }
        li {
            font-family: Lato;
            margin-top: 8px;
        }
    </style>
</head>
<body>
    <iframe style="margin-left: 12px; width: 10em; height: 10em; border: none" src="../images/{{item_SpecimenSession[0]['StudyInstanceUID']}}/{{item_SpecimenSession[0]['ImageFileName']}}"></iframe>

    <ul class="ui list">
        {% for key in item_SpecimenSession[0].keys() %}
        <li class="item"><b>{{key}}</b> = {{item_SpecimenSession[0][key]}}</li>
        {% endfor %}

        <li class="item">
            <b>SpecimenDescriptionSequence: </b>
            <ul class="list">
            {% for key in item_SpecimenDescriptionSequence[0].keys() %}
            <li class="item"><b>{{key}}</b> = {{item_SpecimenDescriptionSequence[0][key]}}</li>
            {% endfor %}
            
            <li class="item">
                <b>PrimaryAnatomicStructureSequence: </b>
                <ul class="list">
                {% for key in item_PrimaryAnatomicStructureSequence[0].keys() %}
                <li class="item"><b>{{key}}</b> = {{item_PrimaryAnatomicStructureSequence[0][key]}}</li>
                {% endfor %}
                
                </ul>
            </li>
        </ul>
        </li>

    </ul>
</body>
</html>