<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for("static", filename="semantic.min.css")}}>
    <style>
        ul {
            list-style-type: none;
            margin-left: 12px;
        }
        li {
            font-family: Lato;
            margin-top: 8px;
        }
    </style>
</head>
<body>
    <iframe id="iframe" style="margin-left: 12px; border: none" src="../../thumbnail/{{item_SpecimenSession[0]['StudyInstanceUID']}}/{{item_SpecimenSession[0]['ImageFileName']}}"></iframe>
    <div>
    <a href="../../image_view/{{item_SpecimenSession[0]['StudyInstanceUID']}}/{{item_SpecimenSession[0]['ImageFileName']}}"  target="_blank">
        <button class="ui green button">View Full Image</button>
    </a>
    <a href="edit">
        <button class="ui green button">Edit Metadata</button>
    </a>
    </div>
    
    <ul>
        {% for key in item_SpecimenSession[0].keys() %}
        <li><b>{{key}}</b> = {{item_SpecimenSession[0][key]}}</li>
        {% endfor %}

        <li>
            <b>SpecimenDescriptionSequence: </b>
            <ul>
            {% for key in item_SpecimenDescriptionSequence[0].keys() %}
            <li><b>{{key}}</b> = {{item_SpecimenDescriptionSequence[0][key]}}</li>
            {% endfor %}
            
            <li>
                <b>PrimaryAnatomicStructureSequence: </b>
                <ul>
                {% for key in item_PrimaryAnatomicStructureSequence[0].keys() %}
                <li><b>{{key}}</b> = {{item_PrimaryAnatomicStructureSequence[0][key]}}</li>
                {% endfor %}
                
                </ul>
            </li>
        </ul>
        </li>
        <b>CustomData: </b>
        <ul>
            {% for key in item_CustomData[0].keys() %}
            <li><b>{{key}}</b> = {{item_CustomData[0][key]}}</li>
            {% endfor %}
        </ul>

    </ul>
</body>
<script>
    var iframe = document.getElementById("iframe");
    iframe.onload = function(){
        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + iframe.contentWindow.document.body.scrollHeight*0.12 + 'px';
    }
</script>
</html>